[submodule "or1k-gcc"]
	path = general/or1k-gcc
	url = https://github.com/openrisc/or1k-gcc.git
[submodule "or1k-binutils-gdb"]
	path = general/or1k-binutils-gdb
	url = https://github.com/openrisc/binutils-gdb.git
[submodule "or1k-newlib"]
	path = general/or1k-newlib
	url = https://github.com/openrisc/newlib.git
